<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StackOverflow | Result</title>
</head>
<body>
    {% if success %}
    <div>
        <h1 style="text-align: center;">StackOverflow Search Result</h1>
        {% comment %} {{data.items}} {% endcomment %}
        {% for data in data.items %}
        <tr>
        <td>{{data.title}}</td>
        </tr>
        <hr/>
        {% endfor %}
    </div>
    {% endif %}

</body>
</html>